{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/displayReturnedContent.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loadingPage.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/displayReturnedContent.js') }}" defer></script>
{% endblock %}

{% block maincontent %}

<!-- Display the success message at top of page -->
<h1 class="success-message">{{success['message']}}</h1>

<div class="content-column">
    {% for img in img_data %}
    <!-- Create a content column for image data -->
    <!-- Determine the temporary filepath for the image to display -->

    {% if img.get('data', {}).get('file', False) %}
        {% set filepath = url_for('static', filename=img['data']['file']|replace(' [Duplicate]', '')) %}
    {% endif %}

    <div class="content-wrapper">
        <!-- Set the correct source tag for images or videos -->
        {% if img['data']['type'] == "image" %}
        <img class="content" src="{{filepath}}" alt="{{success['alt']}}" loading="lazy" do-loop="{{success.get('loop', False)}}">
        {% elif img['data']['type'] == "video" %}

        {% set thumb_exists = False %}
        {% if img.get('data', {}).get('thumb', False) %}
            {% set thumb_filepath = url_for('static', filename=img['data']['thumb']) %}
            {% set thumb_exists = True %}
        {% endif %}

        <video class="content" alt="{{success['alt']}}" loading="lazy" 
            src="{{filepath}}" {% if thumb_exists %} poster={{thumb_filepath}} {% endif %} 
            controls do-loop="{{success.get('loop', False)}}">
        </video>
        {% endif %}


        <!-- Display content title if caption data doesn't exist, otherwise display caption data -->
        {% if 'captions' not in img['data'] %}
        <h3 class="content-title">{{img['name']}}</h3>
        {% else %}
        <!-- Create column for displaying subtext -->
        <div class="content-text-column">
            <!-- Loop through all captions associated with image and display them -->
            {% for caption in img['data']['captions'] %}
            <p class="content-caption">{{caption}}</p>

            <!-- Add horizontal bar between caption data -->
            {% if img['data']['captions']|length > loop.index %}
            <hr class="horizontal-line">
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="loadingContent">
    <h1 class="loadingMessage"></h1>
    <img src="{{url_for('static', filename='images/loading-wheel-gif.gif')}}" loading="lazy" alt="loading-gif">
</div>

{% endblock %}