{% extends 'shared/layout.html' %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/UploadContent/upload.js') }}" defer></script>
{% endblock %}

{% block maincontent %}
<form class="form">
    <select class="dropdown-selector" name="genre" required>
        {% for option in options %}
            {% if option.get('disabled', False) %}
                <option disabled>{{option['name']}}</option>
            {% else %}
                <option value="{{option['name']}}">{{option['name']}}</option>
            {% endif %}
        {% endfor %}
    </select>
    
    <input type="button" title="Submit search directory for image uploading" value="Select Directory" class="submit">
</form>
{% endblock %}