{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewOptions.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contentGallery.css') }}">
{% endblock %}

{% block maincontent %}
<div class="optionsContainer">
    <h1 class="success-message">{{options|length - 1}} Options for {{non_url_search_dir}}</h1>

    <ul class="optionList">
        {% for option in options %}

        <a class="option" href="/uploadContent/Options/{{search_dir}}/{{options[option]}}">
            <div class="optionText">
                <span class="show-name">{{option}}</span>
            </div>
        </a>

        {% endfor %}
    </ul>
</div>
{% endblock %}