{% extends 'UploadContent/upload.html' %}

{% block uploadJS %}
<script src="{{ url_for('static', filename='js/UploadContent/uploadShortformContent.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/dropdownSelection.js') }}" defer></script>
{% endblock %}

{% block uploadFormComponents %}
<input type='text' class="folder-name-input" placeholder="Insert Folder Name Here" name="name" required>
<select class="dropdown-selector" name="genre" required>
    {% for genre in genres %}
        <option value={{genre}}>{{genre}}</option>
    {% endfor %}
</select>
{% endblock %}

{% block uploadFormFiles %}
<input type="file" title="Upload shortform content" 
    id="choose-images" class="file-selector" name="file" accept="image/*, video/*" multiple required>
{% endblock %}