/* Container holding shortform content */
.main .contentGallery {
    display: grid;
    column-gap: 2vh;
    row-gap: 2vh;
    grid-template-columns: repeat(auto-fill, 15.625rem);
    margin: 2vh 0;
    width: 80vw;
    justify-content: center;
}

.main .success-message {
    padding: 0;
    margin: 5vh 0 5vh 0;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    text-align: center;
    width: 80vw;
}

/* Single piece of shortform content */
.contentGallery .content {
    border: 0.1rem solid #000000;
    transition: 0.2s;
    height: 15.625rem;
    width: 15.625rem;
}

/* Sizing for image and video tags*/
.content img, .content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Modify size of content when hovered */
.contentGallery .content:hover {
    scale: 1.05;
    transition: 0.2s;
    cursor: pointer;
}

@media (max-width: 650px) {
    .main .contentGallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentGallery .content {
        height: 40vw;
        width: 40vw;
    }
}